<form action="/cricketData">
    <input type="hidden" name="id" placeholder="id" value="<%= (editData) ? editData._id : "" %>">
    <input type="text" name="name" placeholder="name" value="<%= (editData) ? editData.name : "" %>"> <br><br>
    <input type="text" name="team" placeholder="team" value="<%= (editData) ? editData.team : ""  %>"> <br><br>
    <input type="number" name="inning" placeholder="inning" value="<%= (editData) ? editData.inning : "" %>"> <br><br>
    <input type="number" name="runs" placeholder="runs"  value="<%= (editData) ? editData.runs : ""  %>"> <br><br>
    <button type="submit">Submit</button>
</form>
<style>
    tr th{
        border: 1px solid rgb(255, 0, 0);
        padding: 5px 10px;
        color: rgb(0, 17, 255);
        font-size: 20px;
    }
    tr td{
        font-size: 18px;
        font-weight: 600;
        padding: 5px 10px;
        font-family: math;
    }
    td button  {
        background-color: blue;
        border:  none;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
    }
    button a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        font-family: serif;
    }
    td button:hover{
        background-color: red;
    }



</style>
<table border="4">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Team</th>
        <th>Inning</th>
        <th>Runs</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </tr>
    <% data.map((item , index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= item.name %></td>
            <td><%= item.team %></td>
            <td><%= item.inning %></td>
            <td><%= item.runs %></td>
            <td><button><a href="/deleteData/<%= item._id %>">DELETE</a></button></td>
            <td><button><a href="/updateData/<%= item._id %>">UPDATE</a></button></td>
        </tr>
  <%   }) %>
</table>