<style>
    tr th {
        padding: 5px 10px;
        font-size: 24px;
    }

    tr td {
        padding: 5px 10px;
        font-size: 20px;
    }

    tr button a {
        width: 100%;
        font-size: 16px;
        text-decoration: none;
        color: black;

    }
</style>


<form action="/createData">
    <input type="hidden" name="id" id="" value="<%= (editData) ? editData.id : "" %>">
    <input type="text" name="name" placeholder="Name" value="<%= (editData) ? editData.name : "" %>"> <br><br>
    <input type="email" name="email" placeholder="Email" value="<%= (editData) ? editData.email : "" %> "> <br><br>
    <input type="password" name="password" placeholder="password" value="<%= (editData) ? editData.password : "" %>"><br><br>
    <button type="submit">submit</button>
</form>


<table border="5">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>password</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <% data.map((item , index)=> { %>
        <tr>
            <th>
                <%= index +1 %>
            </th>
            <td>
                <%= item.name %>
            </td>
            <td>
                <%= item.email %>
            </td>
            <td>
                <%= item.password %>
            </td>
            <th><button><a href="/deleteData/<%= item.id %>">Delete</a></button></th>
            <th><button><a href="/editData/<%= item.id %>">UPDATE</a></button></th>

        </tr>
        <% }) %>
</table>