<style>
    tr th {
        padding: 5px 10px;
        font-family: math;
        font-size: 24px;
    }

    tr td {
        padding: 5px 10px;
        font-family: revert-layer;
        font-size: 20px;
    }
    td button{
        width: 100%;
        font-size: 16px;
    }
</style>


<form action="/createData">
    <input type="hidden" name="id" value="<%= (editData) ? editData.id : ""  %>">
    <input type="text" name="name" placeholder="Name" value="<%= (editData) ? editData.name : "" %>"> <br><br>
    <input type="password" name="password" placeholder="password" value="<%= (editData) ? editData.password : "" %>"> <br><br>
    <button type="submit">submit</button>

</form>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>password</th>
        <th>DELETE</th>
        <th>UDATE</th>
    </tr>
    <% data.map((item , index)=> { %>
        <tr>
            <td>
                <%= index + 1 %>
            </td>
            <td>
                <%= item.name %>
            </td>
            <td>
                <%= item.password %>
            </td>
            <td><button><a href="/deleteData/<%= item.id %>">delete</a></button></td>
            <td><button><a href="/editData/<%= item.id %>">update</a></button></td>
        </tr>
        <% }) %>
</table>

