<form action="/creategp">
    <input type="hidden" name="id" value="<%= (editData) ? editData._id : "" %>">
    <input type="text" name="gpname" placeholder="Group Name" value="<%= (editData) ? editData.gpname : "" %>"><br><br>
    <input type="text" name="gpdesc" placeholder="Group Description" value="<%= (editData) ? editData.gpdesc : "" %>"><br><br>
    <input type="email" name="gpemail" placeholder="Group Email" value="<%= (editData) ? editData.gpemail : "" %>"><br><br>
    <input type="number" name="salary" placeholder="Group Salary" value="<%= (editData) ? editData.salary : "" %>"><br><br>
    <button type="submit">Submit</button>
</form>

<table border="4">
    <tr>
        <th>Id</th>
        <th>Group Name</th>
        <th>Group Description</th>
        <th>Group Email</th>
        <th>Group Salary</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </tr>
    <% data.map((item , index) => {  %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= item.gpname %></td>
            <td><%= item.gpdesc %></td>
            <td><%= item.gpemail %></td>
            <td><%= item.salary %></td>
            <td><button><a href="/deleteData/<%= item._id %>">DELETE</a></button></td>
            <td><button><a href="/updateData/<%= item._id %>">EDIT</a></button></td>
        </tr>
   <% }) %>
</table>